.Home {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top:30px;
}

.center {
}


.button {
    margin-top:50px;
}
.center-components {
}

.top_margin {
}

.FormGrp {
    width: 20%;
}